body {
  background-color: aliceblue;
  margin-top:3rem;
  margin-left:3rem;
  margin-right:3rem;
  margin-bottom:3rem;
  min-height: 100vh;
  border-style:dotted;
}
h1, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:midnightblue;
  text-shadow: 10px 10px 10px  rgb(177, 177, 248);
  text-align: center;
}
h1 {
  font-size:96px;
  letter-spacing: 0.4cap;
  cursor:default;
}
p {
  font-size:40px;
}
p:hover {
  color:rgb(255, 0, 64);
  cursor:pointer;
}