body {
  background-color: aliceblue;
  min-height: 100vh;
  border-style:dotted;
}
h1, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:midnightblue;
  text-shadow: 10px 10px 10px  rgb(177, 177, 248);
}
h1 {
  font-size:96px;
  letter-spacing: 0.4cap;
}
p {
  font-size:40px;
}
